{
	"parser": "babel-eslint",
	"extends": [
		"airbnb",
		"prettier",
		"prettier/react",
		"prettier/standard",
		"plugin:jest/recommended",
		"plugin:compat/recommended"
	],
	"plugins": [
		"emotion",
		"jest",
		"prettier"
	],
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest": true
	},
	"rules": {
		"no-underscore-dangle": "off",
		"class-methods-use-this": "off",
		"prefer-promise-reject-errors": "off",
		"arrow-body-style": [
			"error",
			"as-needed"
		],
		"no-console": "error",
		// Emotion
		"emotion/jsx-import": "error",
		"emotion/no-vanilla": "error",
		"emotion/import-from-emotion": "error",
		"emotion/styled-import": "error",
		// JSX
		"jsx-a11y/click-events-have-key-events": "off",
		"jsx-a11y/interactive-supports-focus": "off",
		"jsx-a11y/anchor-is-valid": [
			"error",
			{
				"components": [
					"Link"
				],
				"specialLink": [
					"to"
				]
			}
		],
		// Import
		"import/prefer-default-export": "off",
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": true,
				"optionalDependencies": true,
				"peerDependencies": true
			}
		],
		"import/no-named-as-default": "off",
		"import/no-cycle": "off",
		// React
		"react/jsx-filename-extension": "off",
		"react/style-prop-object": "off",
		"react/no-multi-comp": "off",
		"react/jsx-props-no-spreading": "off",
		// Prettier
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"trailingComma": "all",
				"printWidth": 120,
				// No parentheses with one arg
				"arrowParens": "avoid",
				"semi": false
			}
		]
	},
	"globals": {
		"jest": true
	}
}
