.footer {
  /* Positionning */
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;

  /* Typography */
  color: rgb(var(--white));
  text-align: center;

  /* Box Model */
  background-color: rgb(var(--primary));
}

.nav {
  max-width: var(--container);
  margin: auto;
  padding: 1rem 0;
}

.nav a {
  /* Box Model */
  padding: 0 1rem;

  /* Typography */
  color: rgb(var(--white));
  text-decoration: none;
}
