.header {
  /* Positionning */
  position: sticky;
  top: 0;
}

.nav {
  /* Box Model */
  max-width: var(--container);
  margin: auto;
  padding: 2rem 0;

  /* Typography */
  text-align: right;
}

html:not([data-scroll='0']) .header {
  /* Typography */
  background-color: rgb(var(--primary));

  /* Transform */
  transition: background-color 200ms ease;
}

@media (max-width: 800px) {
  .nav {
    text-align: center;
  }
}

.link {
  /* Box Model */
  margin: 1rem 2rem;

  /* Typography */
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.5rem;

  /* Animation */
  transition: all 0.3s;
}

.link:visited {
  /* Typography */
  color: rgb(var(--text));
}

.link:hover {
  /* Typography */
  color: rgb(var(--primary));
}

html:not([data-scroll='0']) .link,
html:not([data-scroll='0']) .link:visited {
  color: rgb(var(--background));
}
