.tag {
  margin: 1rem 2rem;
  padding: 0.75rem 1rem;

  color: rgb(var(--primary));
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;

  border: solid 2px rgb(var(--primary));
  cursor: default;
}

html:not([data-scroll="0"]) .tag {
  /* Typography */
  color: rgb(var(--white));

  border: solid 2px rgb(var(--white));
}
