.presentation {
  /* Box Model */
  max-width: var(--container);
  margin: auto;
  padding: 1rem;
}

.chronology {
  /* Box Model */
  max-width: var(--container);
  margin: auto;
  padding: 1rem;
}

.chronology ol {
  /* Box Model */
  padding-left: 1rem;

  /* Typography */
  list-style: none;
}

.chronology ol p {
  margin-left: 1rem;
}

.startAt {
  color: rgba(var(--dark), 0.7);
  font-size: 0.8rem;
  text-align: right;
}

.separator-wrapper {
  max-width: var(--container);
  margin: auto;
  padding: 0 1rem;
}

.separator {
  border: 0;
  border-top: 3px dotted rgb(var(--primary));
}
