body {
  background-color: black;
  color: white;

  margin: 0;
}

.app {
  display: grid;
  height: 100vh;

  grid-template-areas:
    "menu content"
    "footer content";

    grid-template-columns: 3fr 5fr;
    grid-template-rows: 5fr 3fr;

  @media (max-width: 700px) {
    grid-template-areas: 
    "menu"
    "content"
    "footer";
  }
}

.app > * {
  background-color: aquamarine;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.app__menu {
  grid-area: menu;
}

.app__content {
  grid-area: content;  
}

.app__footer {
  grid-area: footer;

}
