@import './fonts.css';
@import './variable.css';

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

/* Anchor */
:target::before {
  /* Box Model */
  display: block;
  height: 3em;
  margin: -3em 0 0;

  /* Misc */
  content: "";
}

body {
  /* Box Model */
  margin: 0;
  padding: 0;

  /* Typography */
  font-family: Martel, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

a {
  color: rgb(var(--primary));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  /* Box Model */
  max-width: var(--container);
  margin: auto;
  padding: 1rem;
}

ol {
  /* Box Model */
  padding-left: 1rem;

  /* Typography */
  list-style: none;
}

ol p {
  margin-left: 1rem;
}
