@import './fonts.css';
@import './variable.css';

html {
  font-size: 18px;
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

body {
  /* Box Model */
  margin: 0;
  padding: 0;

  /* Typography */
  font-family: Martel, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

a,
a:visited {
  color: rgb(var(--primary));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  /* Box Model */
  max-width: var(--container);
  margin: auto;
  padding: 1rem;
}

ol {
  /* Box Model */
  padding-left: 1rem;

  /* Typography */
  list-style: none;
}

ol p {
  margin-left: 1rem;
}
