.menu {
  width: 100%;
  justify-content: center;

  nav {
    height: 100%;
  }
}

.menu__list {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;

  margin: 10px 0;
}
